html{
    background-color: #ccc;
    font-family: 'Times New Roman', Times, serif;
}

/* header */
.headerprincipal__figure{
    display: flex; 
    justify-content: flex-start;
    margin: 2% auto;
}

/* main */
.mainPrincipal{
    width: 94%;
    margin: 0 auto;
}
.mainPrincipal__container{
    display: flex;
    justify-content: space-around;
    margin: 0% auto;
    align-content: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
}
.mainPrincipal__input{
    display: flex;
    margin: 0 auto;
    padding: 0 0 2% 2%;
    flex-direction: column;
}

.text-input{
   margin: 0 0 2% 0;
   resize: none;
   border: none;
   border-radius: 10px;
   background: #ccc;
   color: black;
}
.mainPrincipal__button{
    display: flex;
    justify-content: space-between;
    column-gap: 70px;
}
.mainPrincipal__btnEncrypt,.mainPrincipal__btnUnencrypt{
   width: 50%;
   height: 30px;
   margin: 1% 2%;
   color:  rgb(40, 127, 203);
   border: solid 2px;
   border-radius: 10px;
   margin-bottom: 10%;
   padding: 5px 50px;
}
.mainPrincipal__btnEncrypt{
    background: rgba(4, 80, 121, 0.922);
}

.mainPrincipal__show{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: relative;
    right: 5%;
    border-radius: 10px;
}
.text-show{
    display: flex;
    flex-direction: column;
    background: url(../Banner/Muñeco.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 18px;
    resize: none;
    border: none;
}
.mainPrincipal__show .messageDoll{
    display: flex;
    justify-content: center;
}
.mainPrincipal__showBotton{
    margin-top: 7%;
    margin-bottom: auto;
    border: solid 2px;
    border-radius: 10px;
    color: rgb(27, 115, 193);
    background-color:aliceblue;
    width: 70%;
    height: 30px;
    align-self: center;
}
.mainPrincipal__btnEncrypt:hover,.mainPrincipal__btnUnencrypt:hover,.mainPrincipal__showBotton:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 10px;
}
.mainPrincipal__btnEncrypt:active,.mainPrincipal__btnUnencrypt:active,.mainPrincipal__showBotton:active{
    color: red;
}



/* footer */
